# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
bs4
requests==2.27.1
bs4
sqlalchemy
pandas
pymysql